<%- include("../partials/header") %>
</br></br></br></br></br></br></br>

<% if (budgets.length) { %>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Budget Name</th>
          <th>Description</th>
          <th>Starting Budget Amount:</th>
        </tr>
      </thead>
      <tbody>
        <% budgets.forEach(function(b) { %>
        <tr>
            <td><a href="/budgets/<%=b._id%>"><%= b.name %></a></td>
            <td><%= b.description %></td>
            <td>$<%= b.amount %></td>
            <td><form action="/budgets/<%=b._id%>?_method=DELETE" class="delete-form" method="POST">
                <button class="btn btn-outline-danger" type="submit">Delete Budget</button>
                </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Budgets Created Yet.</h5>
    <% } %>

<%- include('../partials/footer') %>
