<%- include("../partials/header") %>
</br></br></br></br></br></br></br>

<% if (budgets.length) { %>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Budget Name</th>
          <th>Description</th>
          <th>Starting Budget Amount:</th>
        </tr>
      </thead>
      <tbody>
        <% budgets.forEach(function(b) { %>
        <tr>
            <td><a href="/budgets/<%=b._id%>"><%= b.name %></a></td>
            <td><%= b.description %></td>
            <td>$<%= b.amount %></td>
            <td><form action="/budgets/<%=b._id%>?_method=DELETE" class="delete-form" method="POST">
                <button class="btn btn-outline-danger" type="submit">Delete Item</button>
                </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Budgets Created Yet.</h5>
    <% } %>







<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Budget name:</th>
        <th scope="col">Description:</th>
        <th scope="col">Balance:</th>
    </tr>
    </thead>
    <tbody>
        <% budgets.forEach(function(b){ %>
            <tr>
              <td><a href="<%=b._id%>"><%= b.name %></a></td>
              <td><%= b.description %></td>
              <td>$<%= b.amount %></td>
            </tr>
            <% }); %>
    </tbody>
  </table> -->
<%- include('../partials/footer') %>
