<%- include("../partials/header") %>
</br></br></br></br></br>
<table class="table table-borderless">
     <thead>
        <tr>
            <td><strong>Name:</strong></td>
            <td><strong>Description:</strong></td>
            <td><strong>Current Budget:</strong></td>
            </tr>
    </thead>
    <tbody>
        <td><%= budgets.name %></td>
        <td><%= budgets.description %></td>
        <td>$<%= budgets.amount %></td></tbody>
</table>
<hr class="bg">
<div class="container-fluid d-flex justify-content-center">
    <% budgets.budgetItem.forEach( item => { %>
<div class="row align-items-start">

    <div class="col bg-success">
        <%= item.itemName %>
        <%= item.category %>
        $<%= item.cost %>
        <% }) %>
    </div>
</div>
</div>


<div class="container-fluid d-flex justify-content-center">
<form  id="add-review-form" method="POST"  action="/budgets/<%=budgets._id %>/addItem">
    <label>Item:
    <input name="itemName" type="text" required="True">
    </input> </label>
    <br />
    <label>Category: <input type="text" name="category" required="True" /> </label >
    </br>
    <label>Cost: <input type="number" name="cost" required="True"/></label>
    <br /><br />
    <button class="btn btn-outline-success mt-1" type="submit">Add Budget Item</button>
</form>
</div>

    
    <%- include('../partials/footer') %>
    